<!DOCTYPE html>
<html lang="ko">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# books: http://ogp.me/ns/books#">
  <meta charset="utf-8"/>
  {% set TARGET_DENSITY_DPI = paperDeviceModel == 'paper_lite' ? 162 : 152 %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0{% if isPaper %},target-densitydpi={{ TARGET_DENSITY_DPI }}{% endif %}">
  <meta name="format-detection" content="telephone=no">
  <title>{{ title ? title ~ ' - ' }}리디</title>

  {# =========================== XML for open search #}
  <link rel="search" title="리디셀렉트 검색" type="application/opensearchdescription+xml" href="{{ cacheBuster('public/select-open-search-description.xml') }}">

  {# =========================== CSS #}
  {# TODO: 리디셀렉트 독립적으로 사용할 수 있는 스타일 구성해 사용 #}
  <link rel="stylesheet" href="https://static.ridibooks.com/books/dist/css/page_base.c.css"/>
  <link rel="stylesheet" href="https://static.ridibooks.com/books/dist/css/rui.css"/>
  <link rel="stylesheet" href="https://static.ridibooks.com/books/dist/css/page_error.css"/>
  {% if isRidiApp %}
    <style>
      #header_wrapper { display: none; }
    </style>
  {% endif %}
</head>

<body id="ridi_books">
{% if ENV_NAME and ENV_NAME != 'REAL' %}
  <p class="{{ ENV_NAME }}_environment_ribbon">{{ ENV_NAME }}</p>
{% endif %}
<header id="header_wrapper" class="{% if isPaper %}paper{% else %}books{% endif %}">
  <h1 class="header_logo">
    <a class="logo_wrapper js_home_link" href="/">
      {% set icon_class_name = isPaper ? 'icon-logo_paper_bold' : 'icon-logo_ridibooks_2' %}
      {% set logo_title = isPaper ? 'PAPER' : 'RIDIBOOKS'  %}
      <span class="{{ icon_class_name }} logo"></span><span class="indent_hidden">{{ logo_title }}</span>
    </a>
  </h1>
</header>
<div id="contents_wrapper">
  <section id="page_error">
    <h2 class="error_title">오류 발생</h2>
    <p class="error_description">
      <strong>죄송합니다. 오류가 발생했습니다.</strong><br>
      최대한 빠른 시간 내에 문제를 해결할 수 있도록 최선을 다하겠습니다.
    </p>
    <ul class="buttons_wrapper">
      <li><a class="rui_button_white_50" href="javascript:window.history.back();">이전페이지</a></li>
      {% if not isRidiApp %}
        <li><a class="rui_button_blue_50" href="/">홈으로 돌아가기</a></li>
      {% endif %}
    </ul>
  </section>
  <div id="dialog"></div>
</div>
</body>
</html>
