{% import "@unlimited/macros/meta_macro.twig" as meta_macro %}
{% import "@unlimited/macros/custom_event_macro.twig" as custom_event_macro %}
{% import "@unlimited/macros/tracking_macro.twig" as tracking_macro %}
{% import "@unlimited/macros/svg_macro.twig" as svg_macro %}
{% import "@unlimited/macros/ui_macro.twig" as ui_macro %}

<!DOCTYPE html>
<html lang="ko">

<head>
  {% if isWindows %}
  <!--[if lte IE 9]>
      <script>location.replace('{{ STATIC_URL }}/pages/end_support_ie.html');</script>
    <![endif]-->
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{{ cacheBuster('unlimited/dist/css/payments.css') }}" />
  <script src="{{ cacheBuster('unlimited/dist/manifest.min.js') }}"></script>
  <script src="{{ cacheBuster('unlimited/dist/polyfill.min.js') }}"></script>
  <title>카드 등록 - 리디셀렉트</title>
  {{ meta_macro.common(open_graph_tags) }}
</head>

<body>
  {% include "gnb/alert.twig" %}
  <div class="PagePayments">
    {{ ui_macro.render_gnb(STORE_URL, RIDISELECT_URL, USER_ID, 'GNBWrapper-transparent-relative') }}
    {% if ridi_pay_methods.cards|length > 0 %}
      {% set card = ridi_pay_methods.cards[0] %}
      {% import "macros/ridi_pay.macro.twig" as ridi_pay_macro %}
      <div class="PagePayments_Wrapper">
        <h2 class="PagePayments_Title">RIDI Pay에 등록하신 카드가 있습니다.<br>이 카드로 구독하시겠습니까?</h2>
        <div class="CardPlate" style="background-color: {{ card.color }};">
          <img
            class="CardPlate_LogoImage"
            src="{{ card.logo_image_url }}"
            alt="{{ card.issuer_name }} 이미지"
          />
          <p class="CardPlate_IIN">{{ ridi_pay_macro.format_iin(card.iin) }}</p>
        </div>
        <a href="{{ RIDI_PAY_URL }}/settings" class="PagePayments_RidiPaySettings">
          카드 관리
          <svg class="RSGIcon RSGIcon-arrowRight RSGIcon-arrow5Right PagePayments_RidiPaySettings_Icon" viewBox="0 0 22 37"><path d="M3.5.5c.3 0 .6.1.9.3l16.8 16.8c.3.3.3.4.3.9 0 .3-.2.6-.3.9L4.4 36.2c-.3.3-.5.3-.9.3s-.6-.2-.9-.3L.8 34.4c-.1-.3-.3-.6-.3-.9 0-.3.1-.6.3-.9L15 18.3.8 4.4c-.2-.3-.3-.6-.3-.9 0-.3.1-.6.3-.9L2.6.8c.3-.2.6-.3.9-.3z"></path></svg>
        </a>
        <a class="RUIButton RUIButton-color-blue RUIButton-size-large SectionMain_Button Payments_SubscribeButton"
          href="/select/payments/ridi-pay/callback?payment_method_id={{ card.payment_method_id }}&return_url={{ return_url }}"
        >
          구독 시작하기
        </a>
      </div>
    {% endif %}
    {{ ui_macro.render_footer(STORE_URL) }}
  </div>

  {{ tracking_macro.track_current_page() }}
  {{ custom_event_macro.ridi_select_load(login_user_id, isPc, isTablet, isMobile, isPaper, paperDeviceModel, isRidiApp, free_promotion_months) }}
  {{ ui_macro.load_font() }}
</body>

</html>
