<!DOCTYPE html>
<html lang="ko">
<head>
  {% if isWindows %}
    <!--[if lte IE 9]>
      <script>location.replace('{{ BASE_URL_STATIC }}/pages/end_support_ie.html');</script>
    <![endif]-->
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no">
  <title>리디셀렉트 - 신간도 베스트셀러도 월정액으로 제한없이</title>
  <meta name="keywords" content="리디셀렉트, 리디북스 셀렉트, 셀렉트, 월정액 전자책, 무제한 전자책, 전자책, e-book, e북, 이북, 전자도서, 전자책어플, 인터넷책, 도서어플, 전자서점, 인터넷서점, 온라인서점" />
  <meta name="description" content="신간도 베스트셀러도 월정액으로 제한없이" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://select.ridibooks.com">
  <meta property="og:image" content="https://static-select.local.ridi.io/public/select-img_ridiselect.jpg?20181214124225">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:site" content="@ridibooks" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="msapplication-TileImage" content="{{ cacheBuster('public/select-mstile-144x144.png') }}">
  <meta name="msapplication-TileColor" content="#17202e">
  <meta name="theme-color" content="#17202e">
  <meta name="apple-mobile-web-app-title" content="리디셀렉트">
  <link rel="search" title="리디셀렉트 검색" type="application/opensearchdescription+xml" href="{{ cacheBuster('public/select-open-search-description.xml') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ cacheBuster('public/select-apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ cacheBuster('public/ridiselect-favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ cacheBuster('public/ridiselect-favicon-16x16.png') }}">
  <link rel="mask-icon" href="{{ cacheBuster('public/select-safari-pinned-tab.svg') }}" color="#5bbad5">

  <link rel="stylesheet" href="{{ cacheBuster('dist/css/extends/rui.css') }}"/>
  <link rel="stylesheet" href="{{ cacheBuster('dist/css/main.css') }}"/>
  <script>
    var isLoginRequired = function(url) {
      return false;
    };
    var isExternalLink = function(url) {
      var locationHost = location.host;
      var innerLinkRegex = new RegExp(`^${locationHost}|^\/\/${locationHost}|^https:\/\/${locationHost}|^\/(?=\w)`);
      return !innerLinkRegex.test(url);
    };
  </script>
  <script src="{{ cacheBuster('dist/manifest.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/polyfill.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/vendors.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/sentry.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
  <script src="https://account.ridibooks.com/script/ridi_token_refresher.js"></script>
</head>

<body>
  {% if ENV_NAME and ENV_NAME != 'REAL' %}
    <p class="{{ ENV_NAME }}_environment_ribbon">{{ ENV_NAME }}</p>
  {% endif %}
  {% if ENV_NAME and ENV_NAME != 'REAL' %}
    {% set is_dev = true %}
  {% else %}
    {% set is_dev = false %}
  {% endif %}
  <div id="app"{% if is_dev %} class="dev"{% endif %}></div>
  <iframe id="bookDownloadIframe" width="0" height="0" title="내용없음"></iframe>
  <script src="{{ cacheBuster('dist/main.min.js') }}"></script>
  <script>
    {# dispatch app initialize event #}
    window.dispatchEvent(new CustomEvent('ridiSelectLoad'));

    {# load font #}
    window.WebFontConfig = {
      custom: {
        families: ['Noto Sans KR:n4,n7,n9'],
        urls: ['{{ cacheBuster('dist/css/font.css') }}']
      },
      timeout: 60000
    };
    (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</body>
</html>
