{% import "@unlimited/macros/meta_macro.twig" as meta_macro %}
{% import "@unlimited/macros/ui_macro.twig" as ui_macro %}
{% import "@unlimited/macros/android_app_helpers_macro.twig" as android_app_macro %}

<!DOCTYPE html>
<html lang="ko">
<head>
  {% if isWindows %}
    <!--[if lte IE 9]>
      <script>location.replace('{{ BASE_URL_STATIC }}/pages/end_support_ie.html');</script>
    <![endif]-->
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no">
  {{ meta_macro.common(open_graph_tags, page_type) }}

  <link rel="stylesheet" href="{{ cacheBuster('dist/css/extends/rui.css') }}"/>
  <link rel="stylesheet" href="{{ cacheBuster('dist/css/main.css') }}"/>
  {{ android_app_macro.android_app_helpers(HOST_RIDISELECT) }}
  <script src="{{ cacheBuster('dist/manifest.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/polyfill.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/vendors.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/sentry.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
  <script src="https://account.ridibooks.com/script/ridi_token_refresher.js"></script>
</head>

<body>
  {% include "gnb/alert.twig" %}
  {% if ENV_NAME and ENV_NAME != 'REAL' %}
    {% set is_dev = true %}
  {% else %}
    {% set is_dev = false %}
  {% endif %}
  <div id="app"{% if is_dev %} class="dev"{% endif %}></div>
  <iframe id="bookDownloadIframe" width="0" height="0" title="내용없음"></iframe>
  <script src="{{ cacheBuster('dist/main.min.js') }}"></script>
  <script>
    window.dispatchEvent(new CustomEvent('ridiSelectLoad'));
  </script>
  {{ ui_macro.load_font() }}
</body>
</html>
