{% import "@unlimited/macros/meta_macro.twig" as meta_macro %}
{% import "@unlimited/macros/custom_event_macro.twig" as custom_event_macro %}
{% import "@unlimited/macros/tracking_macro.twig" as tracking_macro %}
{% import "@unlimited/macros/svg_macro.twig" as svg_macro %}
{% import "@unlimited/macros/ui_macro.twig" as ui_macro %}

<!DOCTYPE html>
<html lang="ko">

<head>
  {% if isWindows %}
  <!--[if lte IE 9]>
      <script>location.replace('{{ STATIC_URL }}/pages/end_support_ie.html');</script>
    <![endif]-->
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{{ cacheBuster('dist/css/payments.css') }}" />
  <script src="{{ cacheBuster('dist/manifest.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/polyfill.min.js') }}"></script>
  <script src="{{ cacheBuster('dist/vendors.min.js') }}"></script>
  <title>카드 등록 - 리디셀렉트</title>
  {{ meta_macro.common(open_graph_tags) }}
</head>

<body>
  {% include "gnb/alert.twig" %}
  <div class="PagePayments">
    {{ ui_macro.render_gnb(STORE_URL, RIDISELECT_URL, login_user_id, 'GNBWrapper-transparent-relative') }}
    <div class="PaymentsContent_Wrapper">
      {{ svg_macro.payment_3() }}
      {% if is_free_promotion_available %}
        <h2 class="Section_MainCopy">지금 시작하고<br>{{ free_promotion_months }}개월 무료 혜택을 받으세요.</h2>
        <ul class="Section_Description_List">
          {% if free_promotion_end_date %}
            <li class="Section_Description">{{ free_promotion_end_date|date("Y년 m월 d일") }}까지 신청 시, {{ free_promotion_months }}개월 무료 혜택이 적용됩니다.</li>
          {% endif %}
          <li class="Section_Description">{{ free_promotion_months }}개월 무료 후 월 6,500원이 자동 결제됩니다.</li>
          <li class="Section_Description">무료 이용 기간 만료 전에 구독을 해지하시면 결제되지 않습니다.</li>
        </ul>
      {% else %}
        <h2 class="Section_MainCopy">카드 등록하기</h2>
        <ul class="Section_Description_List">
          <li class="Section_Description">카드 등록 시 즉시 결제가 이루어집니다.</li>
          <li class="Section_Description">매월 6,500원이 자동 결제됩니다.</li>
        </ul>
      {% endif %}
      <div class="Section_Button_Wrapper">
        <button class="Section_Button RUIButton RUIButton-color-blue RUIButton-size-large SectionMain_Button js_ButtonToPaymentsRequest">
          카드 등록하기
        </button>
      </div>
    </div>
    {{ ui_macro.render_footer(STORE_URL) }}
  </div>

  <script src="{{ cacheBuster('dist/payments.min.js') }}"></script>
  {{ tracking_macro.track_current_page() }}
  {{ custom_event_macro.ridi_select_load(isPc, isTablet, isMobile, isPaper, paperDeviceModel, isRidiApp, free_promotion_months) }}
  {{ ui_macro.load_font() }}
</body>

</html>
