{% extends "mail_base.twig" %}
{% block contents %}
  <h1 style="margin: 0; padding: 40px 0; font-size: 28px; font-weight: 600; color: #2b2f33; text-align: center; line-height: 1.4em;">
    구독 해지 안내
  </h1>
  {% if is_account_leave %}
    <div style="padding: 20px 0; text-align: center;">
      <p
        style="
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.88;
          letter-spacing: -0.5px;
          text-align: center;
          color: #333333;
          margin: 20px 0 30px 0;
        "
      >
        {{ user_name }}님, 안녕하세요.<br />
        리디북스를 탈퇴하셔서 <b>리디셀렉트 구독이 자동 해지</b>되었습니다.<br />
        그동안 이용해주셔서 감사합니다.
      </p>
    </div>
    <table cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; color: #333; font-size: 13px; line-height: 1.7em; border-top: 1px solid #848484; padding-bottom: 40px;" >
      <tbody>
          <tr>
            <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold; background: #f6f6f6;">
              아이디
            </th>
            <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold;">
                {{ u_id }}
            </td>
          </tr>
          <tr>
            <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold; background: #f6f6f6;">
              탈퇴 일시
            </th>
            <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold;">
                {{ leave_date }}
            </td>
          </tr>
      </tbody>
    </table>
  {% elseif did_billing_fail %}
    <div style="padding: 20px 0; text-align: center;">
      <p
        style="
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.88;
          letter-spacing: -0.5px;
          text-align: center;
          color: #333333;
          margin: 20px 0 30px 0;
        "
      >
        자동 결제가 3번 실패하여 구독이 해지되었습니다.
      </p>
    </div>
    <table cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; color: #333; font-size: 13px; line-height: 1.7em; border-top: 1px solid #848484;" >
      <tbody>
        {% for history in billing_failed_histories %}
          <tr>
            <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold; background: #f6f6f6;">
              결제 일시
            </th>
            <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold;">
                {{ history.date }}
            </td>
          </tr>
          <tr>
            <th style="text-align: left; padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold; background: #f6f6f6;">
              결제 실패 사유
            </th>
            <td style="padding: 10px 10px 10px 15px; border-bottom: 1px solid #848484; font-weight: bold;">
                {{ history.response_message }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="padding: 30px 0 40px 0; text-align: center;">
      <a
        href="{{ HOST_LINK }}"
        style="
          display: inline-block;
          text-decoration: none;
          margin: 0;
          padding: 12px 50px;
          border: 1px solid #1f8ce6;
          background-color: #1f8ce6;
          font-size: 13px;
          line-height: 1em;
          color: white;
          font-weight: bold;
          text-align: center;
          box-shadow: none;
          border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px;
        "
      >
        다시 구독하기
      </a>
    </div>
  {% endif %}
{% endblock %}
