{% macro render_gnb(STORE_URL, RIDISELECT_URL, USER_ID, additional_class) %} {% import "@unlimited/macros/svg_macro.twig" as svg_macro %}
<header class="GNBWrapper GNBWrapper-transparent {{ additional_class}}">
  {% spaceless %}
  <div class="GNBContentWrapper">
    <div class="GNBLeft">
      <a class="GNBLogoWrapper" href="{{ RIDISELECT_URL }}">
        {{ svg_macro.ridi_select_logo() }}
        <h1 class="a11y">리디셀렉트</h1>
      </a>
      {% if not isRidiApp %}
        <ul class="GNBServiceList">
          <li class="GNBService">
            <a class="GNBServiceLink Ridibooks_Link" href="{{ STORE_URL }}">
              {{ svg_macro.ridi_books_logo('GNBServiceLogo') }}
              <h2 class="a11y">리디북스</h2>
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
    <div class="GNBRight">
      <div class="GNBRightButtonWrapper">
        {% if USER_ID %}
          <a href="{{ STORE_URL }}/account/logout?return_url={{ RIDISELECT_URL }}" class="GNB_LinkButton"><h2 class="reset-heading">로그아웃</h2></a>
        {% else %}
          <a href="{{ STORE_URL }}/account/oauth-authorize?fallback=signup&return_url={{ RIDISELECT_URL }}" class="GNB_LinkButton"><h2 class="reset-heading">회원가입</h2></a>
          <a href="{{ STORE_URL }}/account/oauth-authorize?fallback=login&return_url={{ RIDISELECT_URL }}" class="GNB_LinkButton GNB_LinkButton-fill"><h2 class="reset-heading">로그인</h2></a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endspaceless %}
</header>
{% endmacro %}

{% macro render_footer(STORE_URL) %}
<footer class="Footer Footer-dark">
  <ul class="Footer_Headline_List">
    <li class="Footer_Headline_Item">
      <a class="Footer_Headline_Link" href="{{ STORE_URL }}/support/app/download" target="_blank">
        <svg class="RSGIcon RSGIcon-appRidi RSGIcon-appRidi1 Ridibooks_Logo_Icon" viewBox="0 0 48 48">
          <g>
            <path d="M12.6 20.5c.6 0 1-.1 1.3-.4.2-.3.4-.7.4-1.3 0-.7-.1-1.1-.4-1.4-.3-.3-.7-.4-1.3-.4h-1.2V20.4h.1c.1.1 1.1.1 1.1.1zM29 24.1c.8 0 1.4-.3 1.7-.8.3-.5.5-1.4.5-2.8s-.2-2.3-.5-2.8-.9-.8-1.7-.8h-.6V24.1h.6z"></path>
            <path d="M41.6 0H6.4C2.9 0 0 2.9 0 6.4v35.2C0 45.1 2.9 48 6.4 48h35.2c3.5 0 6.4-2.9 6.4-6.4V6.4C48 2.9 45.1 0 41.6 0zM25 14.6c0-.3.1-.4.4-.4h3.7c1.9 0 3.3.5 4.2 1.4.9 1 1.3 2.6 1.3 5s-.4 4-1.3 5-2.2 1.4-4.1 1.4h-3.7c-.3 0-.4-.1-.4-.4v-12H25zm-5.5 0c0-.3.1-.4.4-.4h2.5c.3 0 .4.1.4.4v12c0 .3-.1.4-.4.4h-2.5c-.3 0-.4-.1-.4-.4v-12zm-11.4 0c0-.3.1-.4.4-.4h4.1c1.8 0 3 .3 3.8 1 .8.7 1.2 1.9 1.2 3.5 0 1.9-.7 3.1-2 3.8h-.1l-.1.1.1.1 2 3.8c.1.1.1.3.1.4 0 0 0 .1-.3.1h-2.5c-.3 0-.5-.1-.7-.4l-1.7-3.4v-.1h-1v3.5c0 .3-.1.4-.4.4H8.6c-.3 0-.4-.1-.4-.4-.1 0-.1-12-.1-12zm31.8 17.6c0 .3-.1.4-.4.4h-2.7c-1 0-6.9 0-8.3.4-2.2.5-3.4 2.1-3.6 2.5h-1.6c-.2-.4-1.4-1.9-3.6-2.5-1.4-.3-7.3-.4-8.1-.4H8.5c-.3 0-.4-.1-.4-.4v-1.4c0-.3.1-.4.4-.4h2.7s6.8 0 8.7.4c1.6.3 2.9.9 3.9 1.9l.1.1.1-.1c1-.9 2.4-1.6 3.9-1.9 2-.4 7.1-.4 8.7-.4h2.7c.3 0 .4.1.4.4l.2 1.4zm0-5.6c0 .3-.1.4-.4.4H37c-.3 0-.4-.1-.4-.4v-12c0-.3.1-.4.4-.4h2.5c.3 0 .4.1.4.4v12z"></path>
          </g>
        </svg>뷰어 다운로드</a>
    </li>
    <li class="Footer_Headline_Item">
      <a class="Footer_Headline_Link" href="{{ RIDISELECT_URL }}/guide">이용 방법</a>
    </li>
    <li class="Footer_Headline_Item">
      <a class="Footer_Headline_Link" href="https://help.ridibooks.com/hc/ko/categories/360000139267" target="_blank">리디셀렉트 FAQ</a>
    </li>
  </ul>
  <ul class="Footer_BizInfo_List">
    <li class="Footer_BizInfo_Item">서울시 강남구 역삼동 702-28 어반벤치빌딩 10층(테헤란로 325)</li>
    <li class="Footer_BizInfo_Item">
      <ul class="CompanyInfo_List">
        <li class="CompanyInfo_Item">리디 (주)</li>
        <li class="CompanyInfo_Item">대표 배기식</li>
        <li class="CompanyInfo_Item">사업자등록번호 120-87-27435</li>
      </ul>
    </li>
    <li class="Footer_BizInfo_Item">통신판매업신고 제 2009-서울강남 35-02139호</li>
  </ul>
  <ul class="Footer_Terms_List">
    <li class="Footer_Terms_Item">
      <a class="Footer_Term_Link" href="{{ RIDISELECT_URL }}/books">서비스 도서 목록</a>
    </li>
    <li class="Footer_Terms_Item">
      <a class="Footer_Term_Link" href="{{ STORE_URL }}/legal/terms" target="_blank">이용약관</a>
    </li>
    <li class="Footer_Terms_Item">
      <a class="Footer_Term_Link Personal_Info_Term_Link" href="{{ STORE_URL }}/legal/privacy" target="_blank">개인 정보 처리 방침</a>
    </li>
    <li class="Footer_Terms_Item">
      <a class="Footer_Term_Link" href="{{ STORE_URL }}/legal/youth" target="_blank">청소년 보호 정책</a>
    </li>
  </ul>
  <p class="Footer_Copyright">© RIDI Corp.</p>
</footer>
{% endmacro %}

{% macro load_font() %}
<script>
  window.WebFontConfig = {
    custom: {
      families: ['Noto Sans KR:n4,n7,n9'],
      urls: ['{{ cacheBuster('unlimited/dist/css/font.css') }}']
    },
    timeout: 60000
  };
  (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
      s.parentNode.insertBefore(wf, s);
  })(document);
</script>
{% endmacro %}
